In [6]:
import pandas as pd

In [1]:
! python -m pip install "pymongo[srv]"

Collecting pymongo[srv]
  Downloading pymongo-4.15.5-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (22 kB)
WARNING: pymongo 4.15.5 does not provide the extra 'srv'
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo[srv])
  Downloading dnspython-2.8.0-py3-none-any.whl.metadata (5.7 kB)
Downloading pymongo-4.15.5-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (1.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 11.1 MB/s  0:00:00
Downloading dnspython-2.8.0-py3-none-any.whl (331 kB)
Installing collected packages: dnspython, pymongo
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [pymongo]m1/2 [pymongo]
Successfully installed dnspython-2.8.0 pymongo-4.15.5

In [ ]:
# Aqui hacemos la autotenticacion    el mongodb

from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

uri = "mongodb+srv://230300977_db_user:kz5QC2cv3gy3bDZ@cluster0.e1iz92h.mongodb.net/?appName=Cluster0"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [3]:
# Asi nos conectamos a la base de datos de mongo

db_mflix = client['sample_mflix']

In [7]:
# Como obtenemos datos, como consultamos?

collection_users = db_mflix['users']

users = collection_users.find({})

df_users = pd.DataFrame(users)

df_users

,_id,name,email,password,preferences
0,59b99db4cfa9a34dcd7885b6,Ned Stark,sean_bean@gameofthron.es,$2b$12$UREFwsRUoyF0CRqGNK0LzO0HM/jLhgUCNNIJ9RJ...,NaN
1,59b99db4cfa9a34dcd7885b7,Robert Baratheon,mark_addy@gameofthron.es,$2b$12$yGqxLG9LZpXA2xVDhuPnSOZd.VURVkz7wgOLY3p...,NaN
2,59b99db5cfa9a34dcd7885b8,Jaime Lannister,nikolaj_coster-waldau@gameofthron.es,$2b$12$6vz7wiwO.EI5Rilvq1zUc./9480gb1uPtXcahDx...,NaN
3,59b99db5cfa9a34dcd7885b9,Catelyn Stark,michelle_fairley@gameofthron.es,$2b$12$fiaTH5Sh1zKNFX2i/FTEreWGjxoJxvmV7XL.qlf...,NaN
4,59b99db6cfa9a34dcd7885ba,Cersei Lannister,lena_headey@gameofthron.es,$2b$12$FExjgr7CLhNCa.oUsB9seub8mqcHzkJCFZ8heMc...,NaN
...,...,...,...,...,...
180,59b99e08cfa9a34dcd78866a,Shawn Mccormick,shawn_mccormick@fakegmail.com,$2b$12$fVJEFj7SXlqT0EmE9k00FuZLNH52NFSPriUqm8G...,NaN
181,59b99e09cfa9a34dcd78866b,Anthony Hurst,anthony_hurst@fakegmail.com,$2b$12$9M2cew6pOM.35LY474rMkeVD4WxfvF2lDtVg60j...,NaN
182,59b99e09cfa9a34dcd78866c,Ashlee Hart,ashlee_hart@fakegmail.com,$2b$12$S707opDk6HG/Lqk7MaHeQ.1N36I6kEUOhRv/RQE...,NaN
183,5db1c37e4a68c31f10cf0a98,Magical Mr. Mistoffelees,magicz@cats.com,somehashedpw,NaN
184,5db1c37e4a68c31f10cf0a9f,foo,foobaz@bar.com,foobar,{}

In [8]:
# Practica de conexion a la base de datos theaters

prueba_conexion = db_mflix['theaters']

theaters = prueba_conexion.find({})

df_theaters = pd.DataFrame(theaters)

df_theaters

,_id,theaterId,location
0,59a47286cfa9a3a73e51e72c,1000,"{'address': {'street1': '340 W Market', 'city'..."
1,59a47286cfa9a3a73e51e72d,1003,"{'address': {'street1': '45235 Worth Ave.', 'c..."
2,59a47286cfa9a3a73e51e72e,1008,{'address': {'street1': '1621 E Monte Vista Av...
3,59a47286cfa9a3a73e51e72f,1004,"{'address': {'street1': '5072 Pinnacle Sq', 'c..."
4,59a47286cfa9a3a73e51e730,1002,{'address': {'street1': '1900 E Rio Salado Pkw...
...,...,...,...
1559,59a47287cfa9a3a73e51ed43,940,"{'address': {'street1': '4310 Buffalo Gap Rd',..."
1560,59a47287cfa9a3a73e51ed44,951,"{'address': {'street1': '91 Silhavy Rd', 'stre..."
1561,59a47287cfa9a3a73e51ed45,949,"{'address': {'street1': '2651 S Rochester Rd',..."
1562,59a47287cfa9a3a73e51ed46,952,"{'address': {'street1': '4620 Garth Rd', 'city..."
1563,59a47287cfa9a3a73e51ed47,953,"{'address': {'street1': '10 McKenna Rd', 'city..."